@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@200;300;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 4, 20);
    
}
.content{
    margin-top: 50px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
    background-color: rgb(18, 6, 29);
    color: white;
    border-radius: 20px;
}
.title h2{
    font-size: 30px;
}
.container p{
    padding: 20px 100px;
}
.container a{
    background-color: rgb(197, 16, 61);
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    
}

.logo{
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.logo img{
    margin-top: 10px;
}

.logo .logo-text{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    
}

.container img{
    background-size: 100vh;
}